@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap');
  
:root {
  --azul: #003d5f;
  --azulClaro: #0089d1;
  --grisFondo: #333333;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rufina";
  color: white;
}

body {
  background-color: rgb(0, 0, 0);
  /* width: fit-content; */
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: rgb(41, 41, 41);
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  
}

h4 {
  font-size: 1.6rem;
  color: rgb(41, 41, 41);
  font-weight: 700;
  margin-bottom: 25px;
}

/* --------------------------------- HEADER --------------------------------- */

.navbar {
  background-color: #003d5f;
}
.navbar-collapse {
  flex-grow: 0;
}
.navbar-brand {
  font-size: 1.5rem!important;
}

.text-white {
  font-size: 1.2rem;
  
}
.hamburguerX {
  margin-left: 70px;
}
.container-fluid{

  --bs-gutter-x: -0.5rem!important;
}
/* ------------------------------ MAIN SECTION ------------------------------ */
.container_main {
  position: relative;
  height: auto;
  padding: 90px 40px;
  width: 100%;
}

.container_main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/foto-sofa.jpg);
  background-size: cover;
  background-position: 30% center; /* Ajusta el valor para mover la imagen */
  opacity: 0.4; /* Ajusta la opacidad según tu preferencia */
  z-index: -1;
}

.container_main h1 {
  font-size: 3rem;
  font-weight: 400;
}

.container_main p {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 1.15rem;
  font-weight: 300;
}

.container_main button {
  width: 100%;
  border: 3px solid var(--azulClaro);
  color: var(--azulClaro);
}

/* --------------------------- TESTIMONIAL SECTION -------------------------- */

.container_testimonial {
  background-color: rgb(214, 214, 214);
  padding: 60px 30px;
  width: 100%;
}

.container_testimonial h3:first-child {
  color: black;
}

.container_testimonial p:first-child {
  font-size: 1.6rem;
  color: rgb(41, 41, 41);
  font-weight: 700;
}

.container_testimonial p:last-child {
  color: rgb(41, 41, 41);
  font-size: 1.2rem;
}

/* ----------------------------- ESPECIALIDADES ----------------------------- */

.container_especialidades1 {
  padding: 60px 30px;
  position: relative;
  text-align: center;
  /* height: 300px; */
}

.container_especialidades1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/especialidades_photo.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.4; /* Ajusta la opacidad según tu preferencia */
  z-index: -1;
}

.container_especialidades1 p {
  margin-top: 20px;
  padding: 5px;
  font-weight: 400;
  font-size: 1.1rem;
}

.container_especialidades1 h2 {
  font-size: 2.4rem;
  font-weight: 400;
}

.container_especialidades1 h2,
.container_especialidades1 p {
  color: rgb(255, 255, 255);
}

.container_especialidades1 img {
  margin-top: 30px;
  width: 100%;
}

/* ----------------------------ABOGADOS SECCION --------------------------- */
.container_servicios {
  padding: 2rem;
  background-color: var(--grisFondo);
}
.divAbuelos,
.divFamilia {
  display: flex;
  flex-direction: column;
}

.divAbuelos img,
.divFamilia img {
  width: 100%;
}
/* .container_servicios {
  background-color: var(--grisFondo);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container_servicios h2 {
  color: white;
  margin-bottom: 30px;
}


.divAbuelos{

  display:flex;
  flex-direction: row ;
}

.divFamilia{

  display:flex;
  flex-direction: row ;
}

.divAbuelos img,
.divFamilia img {
width: 200px;
}

.divAbuelos h3,
.divFamilia h3 {
font-size: 1.2rem;
margin-top: 1rem;
} */

/* -------------------------- EMERITA LEGAL SECTION ------------------------- */
.container_emerita {
  padding: 60px 30px;
  background-color: white;
  width: 100%;
}

.container_emerita h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container_emerita p {
  color: rgb(41, 41, 41);
  font-size: 0.9rem;
}

.container_emerita button {
  width: 100%;
  border: 2.5px solid var(--azulClaro);
  margin-top: 20px;
}

.container_emerita img {
  margin-top: 30px;
  width: 100%;
}

/* ---------------------- CLIENTES PRINCIPALES SECTION ---------------------- */

.container_clientes {
  background-color: rgb(232, 232, 232);
  padding: 60px 30px;
  width: 100%;
}

.container_clientes img {
  margin-top: 30px;
  width: 100%;
  border-radius: 20px;
  border: 20px solid white;
  /* padding: 50px; */
}

/* ------------------------------- FORMULARIO ------------------------------- */

.container_form {
  background-color: rgb(255, 255, 255);
  padding: 60px 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-around;
  align-items: center;
}

.container_form label,
.container_form p {
  color: black;
  font-size: 0.9rem;
  padding-right:56px
}

.container_form form {
  margin-top: 30px;
}

.form_bold {
  font-weight: 700;
  color: black;
}

.container_form button {
  width: 100%;
  border: 2.5px solid var(--azulClaro);
}

#exampleFormControlInput1,
#exampleFormControlInput2,
#formControlInput3 {
  background-color: rgb(232, 232, 232);
}

/* ----------------------------- FOOTER SECTION ----------------------------- */
.container_footer {
  background-color: rgb(107, 107, 107);
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_footer h4 {
  color: white;
}

.container_footer p {
  color: rgb(255, 255, 255);
}

@media (min-width: 1000px) {

  
  /* ----------------------------- CONTAINER MAIN ----------------------------- */
  .container_main {
    position: relative;
    height: 80vh;
    padding: 60px 120px;
    width: 100%;
    padding-left: 10%;
     ;
  }

  .container_main::before {
    opacity: 0.5; /* Ajusta la opacidad según tu preferencia */
  }
  .container_main h1 {
    margin-top: 140px;
    font-size: 4.5rem;
    font-weight: 400;
    padding-left: 50%;
    text-align: end;
  }

  .container_main p {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 1.3rem;
    padding-left: 50%;
    text-align: end;

    font-weight: 300;
  }

  .container_main button {
    width: auto;
    padding: 13px 25px;
  }

  /* -------------------------- TESTIMONIALS SECTION -------------------------- */
  .container_testimonial {
    background-color: rgb(255, 255, 255);
    padding: 60px 30px;
  }

  .container_testimonial p:first-child {
    font-size: 1.6rem;
    color: rgb(41, 41, 41);
    font-weight: 700;
    padding-right: 30%;
    padding-left: 10%;
  }

  .container_testimonial p:last-child {
    color: rgb(41, 41, 41);
    font-size: 1.2rem;
    padding-left: 10%;
  }

  /* -------------------------------- ESPECIALIDADES ------------------------------- */
  .container_especialidades1 p {
    margin-top: 20px;
    padding: 5px;
    font-weight: 400;
    font-size: 1.1rem;
  }

  .container_especialidades1 h2 {
    font-size: 3rem;
    font-weight: 400;
    margin: 0% 70%;
  }

  .container_especialidades1 {
    padding: 60px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 450px;
  }

  /* -------------------------------- SERVICIOS ------------------------------- */
  .container_servicios {
    /* padding: 60px 30px; */
    background-color: var(--grisFondo);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    gap: 54px;
  }
  .container_servicios p {

    margin-bottom: 0.4rem;
  }

  .container_servicios h2 {
    color: white;
    margin-top: 40px;
  }

  .divAbuelos {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .divFamilia {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .divFamilia img {
    width: 400px;
  }
  .divAbuelos img {
    width: 400px;
  }   

  .divAbuelos h3,
  .divFamilia h3 {
    font-size: 1.2rem;
    margin-bottom: -8px;
  }

  .container_form {
    display: flex;
    flex-direction: row-reverse !important;
    /* background-color: black; */
  }

  .container_form1{

    width: 70vh;
  }

  .comprometidos_legal {
    display: flex;
    flex-direction: row!important;
    justify-content: center;
    background-color: white;
    align-items: center;
    padding: 6rem;
    gap: 50px;
  }

  .comprometidos_legal2 {
    display: flex; 
    flex-direction: column; 
    width: 50%;
  }

  .comprometidos_img {
    width: 40%;
  }
}

.comprometidos_legal {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  padding: 3rem;
  gap: 50px;
}

.comprometidos_legal2 {
  display: flex; 
  flex-direction: column;
}

.comprometidos_img {
  width: fit-content;
}

.comprometidos_img img {
  width: 100%;
}

.container_form {
  display: flex;
  flex-direction: column;
}

.btn a {
  color: white;
}

.btn a:hover {
  color: #0089d1;
}
